
body {
  background-color: white;
  color: #333;
}

.maincontent{
  width: 60%;
  margin:auto;
  max-width: 800px;
}

@media screen and (max-width: 768px) {
  .maincontent{
    width: 80%;
  }
}

/*----------------------------------------------*/
/* Typeface */
/*----------------------------------------------*/

@font-face {
  font-family: hometown;
  src: url("../font/Hometown-Regular.woff");
}

h1{
  font-size: 130px;
  font-family: hometown;
  font-weight: 400;
  font-style: normal;
  line-height: 90px;
  text-align: right;
  letter-spacing: -2px;
  padding-bottom: 10px;
  color:#4169c1;
  padding-top: 50px;
  margin-left:30%;
  width:70%;
}

h2{
  font-size: 38px;
  font-family: museo-sans,sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  padding-bottom: 10px;
  color:#4169c1;
}

h3{
  font-size: 25px;
  font-family: museo-sans,sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  color:#4169c1;
}

h4{
  font-size: 20px;
  font-family: museo-sans,sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  color:#4169c1;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* h5{
  font-size: 15px;
  font-family: museo-sans,sans-serif;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  line-height: 1.5;
} */

h6{
  color:#4169c1;;
  font-family: museo-sans, sans-serif;
  font-weight:500;
  font-size: 18px;
  font-style: normal;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}

p{
  font-family: museo-sans, sans-serif;
  font-weight:300;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  padding-bottom: 10px;
}

.indent{
  margin-left: 3%;
  padding-left: 3%;
  border-left: 2px solid #4169c1;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

.caption{
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 15px;
  padding-top: 5px;
  text-align: center;
  color: #4169c1;
}

.funfact{
  font-size: 25px;
  font-family: hometown,sans-serif;
  font-style: normal;
  line-height: 1;
  padding-bottom: 10px;
  color:#4169c1;
  width:80%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  h1{
    font-size: 80px;
    line-height: 60px;
    margin-left:0%;
    width:100%;
  }
  
  h2{
    font-size: 25px;
  }
  
  h3{
    font-size: 20px;
  }

  h4{
    font-size: 18px;
  }

  /* h5{
    font-size: 15px;
  } */

  h6{
    font-size: 16px;
  }
  
  p{
    font-size: 14px;
  }

  .funfact{
    font-size: 20px;
    font-family: hometown,sans-serif;
    font-style: normal;
    line-height: 1;
    padding-bottom: 10px;
    color:#4169c1;
    width:80%;
    margin: auto;
  }

/* 
  .caption{
    width: 60%;
    margin:auto;
    max-width: 800px;
    font-size: 10px;
  } */

}

button{
  background-color: #4169c1;
  padding: 10px 25px;
  color:white;
  font-family: museo-sans, sans-serif;
  text-transform: uppercase;
  font-weight:500;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  text-align: center;
  border: 2px solid #4169c1;
  border-radius: 100px;
}

button:hover{
  background-color: white;
  color:#4169c1;
  border: 2px solid #4169c1;
  transition-property: background-color;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

a.highlight {
  text-decoration: none;
  color:#333;
  box-shadow: 0px -2px 0px 0px rgba(65, 105, 193, 0.30) inset;
  width: fit-content;
}

a.highlight:hover {
  box-shadow: 0px -15px 0px 0px rgba(65, 105, 193, 0.30) inset;
  transition-duration: 0.2s;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.animationcontainer{
  overflow: hidden;
  width: 100%;
}

#animation{
  width: 100%;
}

.threegrid{
  display:grid;
  grid-template-columns: auto auto auto;
  width:80%;
  max-width: 1200px;
  gap: 15px;
  margin: 20px auto 5px auto;
}

.twogrid{
  display:grid;
  grid-template-columns: auto auto;
  width:80%;
  max-width: 1200px;
  gap: 15px;
  margin: 20px auto 5px auto;
}

#griditem{
  overflow:hidden;
  aspect-ratio: 1 / 1;
  text-align: center;
}

@media (max-width: 1000px) {
  #animation{
    width: 150%;
  }
}

@media (max-width: 500px) {
  #animation{
    width: 200%;
  }
}

@media (max-width: 800px) {
  .threegrid{
    grid-template-columns: auto;
    width: 60%;
    gap: 15px;
  }
  .twogrid{
    grid-template-columns: auto;
    width: 60%;
    gap: 15px;
  }
}

@media (max-width: 500px) {
  .threegrid{
    grid-template-columns: auto;
    width: 90%;
    gap: 15px;
  }

  .twogrid{
    grid-template-columns: auto;
    width: 90%;
    gap: 15px;
  }
}

/*----------------------------------------------*/
/* HEADER */
/*----------------------------------------------*/

header{
  background-color: #4169c1;
  height: 70px;
}

.navigation{
  margin: 0px 20%;
}

#navlogo{
  margin-top: 5px;
}

@media (max-width: 1200px) {
.navigation{
    margin: 0px 0%;
    /* padding: 0px 20px; */
  }
#navlogo{
  padding: 0px 20px;
}
  }

/*----------------------------------------------*/
/* NAVIGATION STYLES */
/* (+ Also uses responsive-nav.css, but don't mess with that file. ) */
/*----------------------------------------------*/

.nav-collapse {
  float: right;  
  width: auto;
  padding: 10px 2px;
  /* margin: 0px 20px; */
}

.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  float: right;
}

.nav-collapse li {
  float: left;
  width: 100%;
  display: block;
  padding: 15px 20px;
  font-family: museo-sans, sans-serif;
  font-weight:300;
  font-size: 20px;
  font-style: normal;
  line-height: 1.5;
  transition-property: background-color;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

.nav-collapse li:hover a {
  border-bottom: 2px solid white;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

@media screen and (min-width: 1000px) {
  .nav-collapse li {
    width: auto;
  }
}

.nav-collapse a {
  font-family: museo-sans, sans-serif;
  font-weight:500;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
  display: block;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  width: auto;
  transition-property: color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

@media only screen and (max-width: 1000px) {
  .nav-collapse,
  .nav-collapse ul {
    width: 100vw;
    margin: 20px, auto;
    /* margin: auto; */
    padding: 0px 20px;
    background-color: #4169c1;
    text-align: center;
  }
  .nav-collapse li {
    width: auto;
    margin: auto;
    float: none;
    display: inline-block;
    background-color: #ffffff00;
    border: none;
    text-align: center;
  }
  .nav-collapse li:hover a {
    cursor: pointer;
    border-bottom: 2px solid white;
  }
  .nav-collapse a:not(.activepage){
    border-bottom: 2px solid #ffffff00;
  }
}

.br-on-mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .br-on-mobile {
      display: block;
  }
}

/*----------------------------------------------*/
/* NAV Button*/
/*----------------------------------------------*/

.nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 70px;
  float: right;
  background-color: #333;
  background-color: transparent;
  transition: all 0.8s ease;
  padding: 0px 5px;
}

.nav-toggle:before {
  position: absolute;
  /* content: "\f0c9"; */
  content: url("../images/navigation/icons8-menu.svg");
  border-bottom: 0px;
  text-indent: 0;
  text-align: center;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 0px;
  padding-top:10px;
  /* background-color: red; */
}

.nav-toggle.active::before {
  content: url("../images/navigation/icons8-close.svg");
  border-bottom: 0px;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 0px;
  padding-top:10px;
}

/* .activepage{
  text-decoration: none;
  color:#2c3843;
  border-bottom: 2px solid #2c3843;
} */

/*----------------------------------------------*/
/* END OF NAV CSS */
/*----------------------------------------------*/


/*----------------------------------------------*/
/* FOOTER */
/*----------------------------------------------*/

footer{
  background-color: #4169c1;
  width: 100%;
  margin-top:50px;
  height:auto;
}

.footercontainer{
  position: relative;
  margin: 0 20%;
  padding:100px 30px 75px 30px;
  display: flex;
  justify-content: space-between;
}

.footercontent{
  margin-left: auto;
  display: grid;
  grid-template-columns: auto auto;
  gap:40px;
}

.footerlinks a {
  font-family: museo-sans, sans-serif;
  font-weight:500;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition-property: color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.footerlinks li {
  font-family: museo-sans, sans-serif;
  font-weight:500;
  letter-spacing: 2px;
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
  color: white;
  transition-property: background-color;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

.footerlinks li:hover a {
  border-bottom: 2px solid white;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

.footerplacelinks p  {
  font-family: museo-sans, sans-serif;
  font-weight:300;
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: capitalize;
  font-style: normal;
  line-height: 16px;
}

.footerplacelinks p:hover{
  color:#93abe0;
}

.footerimage{
  /* width:60%;
  max-width: 800px; */
  /* margin: 0 20%; */
  margin: 108px 20% -100px 20%;
  /* margin-bottom: -100px; */
}

#footericon{
  display: block;
  margin-left: auto;
  margin-right: 3%
}

@media (max-width: 1200px) {
  .footercontainer{
    margin: 0px 0%;
  }

  #footerlogo{
     padding: 0px 20px;
  }

  .footerimage{
    margin: 108px 2% -100px 2%;
  }
} 

@media (max-width: 800px) {

  .footercontainer{
    display: block;
  }

  #footerlogo{
    display:block;
    margin:auto;
    margin-bottom:50px;
  }

  .footercontent{
    margin-left: auto;
    display: grid;
    grid-template-columns: auto;
    gap: 0px;
    text-align: center;
  }

  .footerlinks li {
    text-align: center;
  }

  .footerimage{
    width:100%;
  }
  
  #footericon{
    display: block;
    margin: auto;
  }

}